/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Google Font*/
body {
	font-family: 'Open Sans';
	background-color: white;
}

nav {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	padding: 0.8rem;
	background-color: white;
	/*
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left: 0.8rem*/

	margin-bottom: 2 rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;

}

#logo {
		padding-left: 7rem;
}


footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}



.right-nav {
	display: inline-block;
	float:  right;
	padding-right: 7rem;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	border: none;
	padding: .5rem;
	padding-right: 1rem;
	padding-left: 1rem;

}

#bg-image {
	min-height: 25vw;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no repeat;
	background-size: 100%;
	background-position: center;
	color: white;
}

.front-bg {
	background-color: rgba(0,0,0,0.7);
	opacity: 100%;
	min-height: 25vw;
}

.container {
	display: block;
	margin: 0;
	text-align: right;
	padding-right: 9rem;
}

.title, .title-2 {
	font-family: 'Zilla Slab';
	font-size: 2.40em;
}



.subtitle {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.19rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem;
	border: none;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.title-2 {
	text-align: center;
	padding-top: 4rem;
	font-size: 2rem;
	padding-bottom: 3rem;
}

.intro-description {
	padding-top: 3rem;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 5rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	min-height: 25rem;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	border: none;
	padding: .7rem;
	padding-right: 2.8rem;
	padding-left: 2.8rem;
}

.prefooter-description {
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	padding-bottom: 1rem;
}

footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}